.container {
  border-radius: 2px solid black;
  /* margin: 10px; */
  margin-left: 30px;
  margin-right: 0px;
}
ul {
  border-radius: 2px solid black;
}
li {
  /* display: flex; */
  margin: 10px;
  /* margin-left: 50px; */
  align-items: center;
  border: 2px solid white;
  display: inline;
  height: 100px;
  width: 200px;
  padding: 10px;
  float: left;
  font-weight: 700;
  font-size: medium;
  border-radius: 10%;
  color: white;
  background-color: red;
}

li:hover {
  background-color: white;
  color: black;
  font-weight: 700;
  transition: 0.5s;
  border-color: black;
}
